#main-content {
	min-width: 800px!important;
}
table tbody td:nth-of-type(1) {
padding-right:0.9vw!important;
text-align:left!important;
}
table thead{
	font-size:90%;
} 


input[type='radio']:after {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -2px;
	left: -2px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
input[type='radio']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -2px;
	left: -2px;
	position: relative;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

table tbody td:nth-of-type(2) input[type='radio']:checked:after {
background-color: black;
}
table tbody td:nth-of-type(3) input[type='radio']:checked:after {
background-color: #fe2625;
}
table tbody td:nth-of-type(4) input[type='radio']:checked:after {
background-color: #fe2625;
}
table tbody td:nth-of-type(5) input[type='radio']:checked:after {
background-color: darkorange;
}
table tbody td:nth-of-type(6) input[type='radio']:checked:after {
background-color: #129b00;
}
table tbody td:nth-of-type(7) input[type='radio']:checked:after {
background-color: #129b00;
}